.contacts {
  @include page-grid-contacts;

  &__form {
    display: grid;
    gap: 16px;
    margin: 0 auto;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-dekstop {
      grid-column: span 5;
    }
  }

  &__input {
    outline: none;
    border: 1px solid transparent;
  }

  &__name {
    padding-left: 16px;
    width: 280px;
    height: 48px;
    border-radius: 40px;
    background-color: #f8f8fa;

    @include on-tablet {
      width: 288px;
    }

    @include on-dekstop {
      width: 411px;
    }

    &:hover {
      border-color: $hoverColor;
    }

    &:focus {
      border-color: $focusColor;
    }
  }

  &__email {
    width: 280px;
    height: 48px;
    border-radius: 40px;
    padding-left: 16px;
    background-color: #f8f8fa;

    @include on-tablet {
      width: 288px;
    }

    @include on-dekstop {
      width: 411px;
    }

    &:hover {
      border-color: $hoverColor;
    }

    &:focus {
      border-color: $focusColor;
    }
  }

  &__message {
    width: 280px;
    height: 148px;
    border-radius: 16px;
    padding: 16px;
    background-color: #f8f8fa;
    resize: none;

    @include on-tablet {
      width: 288px;
    }

    @include on-dekstop {
      width: 411px;
    }

    &:hover {
      border-color: $hoverColor;
    }

    &:focus {
      border-color: $focusColor;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 3 / -1;
      margin: 0;
      margin-left: 24px;
    }

    @include on-dekstop {
      grid-column: 8 / -1;
    }
  }

  &__first-title {
    color: #9fadc2;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    &--phone {
      margin-top: 0;
    }
  }

  &__second-title {
    text-decoration: none;
    color: #3e3e3e;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
  }

  &__link {
    display: flex;
    justify-content: center;
    padding-top: 32px;

    @include on-tablet {
      justify-content: flex-start;
    }
  }

  &__send {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 3px solid $main-text-color;
    background-color: $main-text-color;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    width: 280px;
    height: 56px;

    @include on-tablet {
      width: 288px;
    }

    @include on-dekstop {
      width: 411px;
    }

    &:hover {
      color: $main-text-color;
      background-color: #fff;
    }

    &:active {
      background-color: #111;
      color: #fff;
    }
  }
}
